/* Sets the box-sizing from content-box to border-box. Padding and border are now part of any size specification. */
html {
    box-sizing: border-box;
}
*, *:after, *:before { 
    box-sizing: border-box;
}

body {
    /* Deletes the default browser margin */
    margin: 0;

    /* Interrupts all underlines at descenders */
    text-decoration-skip-ink: auto;

    /* Font Smoothing */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 
}

/* Remove default margin from headings and paragraphs and set font-weight to normal */
h2, h3, p {
    margin: 0;
    font-weight: 400;
}

img,
video {
    /* Block element, otherwise a small white space remains below it */
    display: block;
    /* We always put images in a surrounding div. This specifies the image size, and the image fills the entire div. */
    width: 100%;
}