@media all and (max-width: 799px) {

    
    .menu {
        padding: 0px 10px 0px 10px;  
        height: 55px;
    }

    .menu__overlay {
        height: 35px;
        width: 35px;
    }

    .overlay__options{
        width: 100vw;
        padding: 100px 0 0 0;
        text-align: center;
    }

    .overlay__options-item{
        font-size: 40pt;
        padding: 10px 0 10px 0;
    }

    .menu__language {
        font-size: 21pt;
    }

    .language__switch{
        text-align: center;
        height: 225px;
        width: 100%;
        top: 55px;
    }
    .language__switch-item{
        padding: 10px 0 10px 0; 
    }

    .projectimages{
        padding: 65px 55px 0 55px;
    }

    .projectimages__project{
        margin: 5px 5px 5px 5px;
    }

    .projectimages__project span{
        font-size: 13.5vw;
        line-height: 17vw;
    }


    .project-arrow{
        padding: 0 10px 0 10px;
    }


    .homepage__arrow{
        margin-right: 10px;
    }

    .quote__text {
        width: 75%;
        font-size: 45px;
        line-height: 55px;
    }
    
    .quote__credit {
        font-size: 20px;
    }

    .entrance {
        margin-bottom: 20px;
        width: 100%;
        height: 35vh; 
    }

    .entrance__text {
        padding-left: 5%;
        bottom: 0;
        border-radius: 0 20px 0 0;
        width: 66%;
        height: 17%;
        font-size: 2vw;
    }

    .header_image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    entrance__subtitle {
        font-size: 18px;
        padding:5px 0 5px 0;
        line-height: 22px;
    }

    .repros{
        padding: 0 55px 0 55px;
    }

    .repros__image{
        padding: 5px 5px 5px 5px;
    }

    .break{
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .text{
        flex-wrap: wrap;
        margin: 50px 0 50px 0;
        padding: 0 65px 0 65px;

    }
    
    .text__desc{
        font-size: 23px;
        line-height: 30px;
        padding-bottom: 50px;
    }
    
    .text__info{
        font-size: 17px;
        line-height: 25px;
    }

    .skillset{
        flex-wrap: wrap;
        margin: 50px 35px 70px 55px ;
        line-height: 30px;
        font-size: 18px;
    }

    .skillset__stats{
        padding-bottom: 10px;
        width: 50%;
    }
    
    .skillset__stars {
        width: 50%;
    }

    .skillset__stars-image {
        height: 170px;
    }

}